#myNav {
    font-size: 40px;
}
#container {
    height: auto;
}
/* input for entering new cities and side bar buttons*/
#ogSearch {
    margin-top: 3%;
    margin-left: 3%;
    width: 100%;
}
#city {
    width: 70%;
}
#searchButton {
    display: inline-block;
}

#sideBar {
    background-color: #eff0f1;
    height:90%;
    padding-left: 0px;
    width: 100%;
}
.vertButtons {
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
    width: 90%;
}
/*Main Weather Display */
#weatherDisplay {
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid lightgrey 2px;
    background-color: #eff0f1;
    height: auto;
    
}
.mainData {
    margin-left: 10px;
}
/*dynamic class for main weather display*/
.cityName {
    margin: 10px;
    display: inline-block
}
/*dynamic class for main weather display*/
.topDate {
    display: inline-block;
}
/*dynamic class for main weather display and index scale coloring*/
.ovalCont {
    display: inline-block;
    margin-left: 10px;
}
.greenOval {
    display: inline-block;  
    background-color:green;
    border-radius: 50px;
    text-align: center; 
}
.yellowOval {
    display: inline-block;   
    background-color: yellow;
    border-radius: 50px;
    text-align: center; 
}
.orangeOval {
    display: inline-block;  
    background-color:orange;
    border-radius: 50px;
    text-align: center; 
}
.redOval {
    display: inline-block;   
    background-color:red;
    border-radius: 50px;
    text-align: center; 
}
.purpleOval {
    display: inline-block;
    background-color:purple;
    border-radius: 50px;
    text-align: center; 
}

/* five day styling */
#fiveDay {
    align-content: right;
    display: flex;
    flex-wrap: wrap;
}
.dayCard {
    width: 19%;
    background: #82c4fa;
    border: solid lightgrey 2px;
    margin-right: 1%;
}
.fiveData {
    margin: 10px;
}

/* Media queries */
@media only screen and (max-width: 660px) {
    .dayCard {
        width: 40%;
    }
    #sideBar {
        height: 60%;
    }

}
@media only screen and (max-width: 636px) {
    #city {
        font-size: 8pt;
        padding: 0px;
    }
    #searchButton {
        font-size: 8pt;
        width: 15%
    }
}
@media only screen and (max-width: 420px) {
    .cityName {
        margin-left: 1px;
        padding-left: 1px;
        padding-right: 5px;
        font-size: 10px;
    }
    #myNav {
        font-size: 20px;
    }
}
@media only screen and (max-width: 320px) {
    .dayCard {
        font-size: 12px;
        width: 60%;
    }
    #sideBar {
        height: 40%;
    }
}